html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--text-font-size);
}

header {
    text-align: center ;
    h1 {
        font-family: cursive;
    }
}

pre {
    overflow: scroll;
    max-width: 25rem;
}